<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangma.cn.mapper.ReturnfactoryMapper">
  <resultMap id="BaseResultMap" type="com.shangma.cn.entity.Returnfactory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="return_mark" jdbcType="VARCHAR" property="returnMark" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="approver_name" jdbcType="VARCHAR" property="approverName" />
    <result column="approver_time" jdbcType="TIMESTAMP" property="approverTime" />
    <result column="approver_status" jdbcType="VARCHAR" property="approverStatus" />
    <result column="return__detailId" jdbcType="BIGINT" property="returnDetailid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, return_mark, creator_name, add_time, approver_name, approver_time, approver_status, 
    return__detailId
  </sql>
  <select id="selectByExample" parameterType="com.shangma.cn.entity.ReturnfactoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_returnfactory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_returnfactory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_returnfactory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shangma.cn.entity.ReturnfactoryExample">
    delete from t_returnfactory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shangma.cn.entity.Returnfactory">
    insert into t_returnfactory (id, return_mark, creator_name, 
      add_time, approver_name, approver_time, 
      approver_status, return__detailId)
    values (#{id,jdbcType=BIGINT}, #{returnMark,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{approverName,jdbcType=VARCHAR}, #{approverTime,jdbcType=TIMESTAMP}, 
      #{approverStatus,jdbcType=VARCHAR}, #{returnDetailid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.shangma.cn.entity.Returnfactory">
    insert into t_returnfactory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="returnMark != null">
        return_mark,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="approverName != null">
        approver_name,
      </if>
      <if test="approverTime != null">
        approver_time,
      </if>
      <if test="approverStatus != null">
        approver_status,
      </if>
      <if test="returnDetailid != null">
        return__detailId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="returnMark != null">
        #{returnMark,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approverName != null">
        #{approverName,jdbcType=VARCHAR},
      </if>
      <if test="approverTime != null">
        #{approverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approverStatus != null">
        #{approverStatus,jdbcType=VARCHAR},
      </if>
      <if test="returnDetailid != null">
        #{returnDetailid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shangma.cn.entity.ReturnfactoryExample" resultType="java.lang.Long">
    select count(*) from t_returnfactory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_returnfactory
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.returnMark != null">
        return_mark = #{record.returnMark,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorName != null">
        creator_name = #{record.creatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approverName != null">
        approver_name = #{record.approverName,jdbcType=VARCHAR},
      </if>
      <if test="record.approverTime != null">
        approver_time = #{record.approverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approverStatus != null">
        approver_status = #{record.approverStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.returnDetailid != null">
        return__detailId = #{record.returnDetailid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_returnfactory
    set id = #{record.id,jdbcType=BIGINT},
      return_mark = #{record.returnMark,jdbcType=VARCHAR},
      creator_name = #{record.creatorName,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      approver_name = #{record.approverName,jdbcType=VARCHAR},
      approver_time = #{record.approverTime,jdbcType=TIMESTAMP},
      approver_status = #{record.approverStatus,jdbcType=VARCHAR},
      return__detailId = #{record.returnDetailid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangma.cn.entity.Returnfactory">
    update t_returnfactory
    <set>
      <if test="returnMark != null">
        return_mark = #{returnMark,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approverName != null">
        approver_name = #{approverName,jdbcType=VARCHAR},
      </if>
      <if test="approverTime != null">
        approver_time = #{approverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approverStatus != null">
        approver_status = #{approverStatus,jdbcType=VARCHAR},
      </if>
      <if test="returnDetailid != null">
        return__detailId = #{returnDetailid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shangma.cn.entity.Returnfactory">
    update t_returnfactory
    set return_mark = #{returnMark,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      approver_name = #{approverName,jdbcType=VARCHAR},
      approver_time = #{approverTime,jdbcType=TIMESTAMP},
      approver_status = #{approverStatus,jdbcType=VARCHAR},
      return__detailId = #{returnDetailid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>